version: '2'
services:
  mediary:
    build:
      context: .
    environment:
      - "DEBUG=1"
      - "BIND_ADDR=0.0.0.0:9999"
      - "SQLITE_DB_PATH=/data/mediary.db"
      - "OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318"
      - "OTEL_SERVICE_NAME=mediary"
    ports:
      - "127.0.0.1:9999:9999"
    volumes:
      - ./data:/data
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "127.0.0.1:16686:16686"   # Jaeger UI
      - "4318:4318"               # OTLP HTTP receiver
