name: Lint

on: workflow_call

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: true

      - name: Run linter
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2
